.container-geral {
  padding-top: 64.68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #cfa5d4;
}

.container-input {
  width: 70%;
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color:#F3F3F3;
  border: 1px solid var(--primary-color); 
  padding: 1rem;
  border-radius: 10px;
  height: auto;
  width: 390px;
  box-shadow: rgba(33, 3, 36, 0.205) 0px 0px 10px;
}

.form-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-row-cadastro {
  display: flex;
  flex-direction: column;
}

body .btn-login {
  width: 40%;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.input-login {
  margin-bottom: 1rem;
}

.expired {
  color: red;
}

@media(max-width: 480px) {
  .box-login {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@media(min-width: 1200px) {
  .box-login {
    width: 60%;
  }
}