.container-login {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* height: 90vh; */
  gap: 2rem;
  background-color: #FFF;
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color:#F3F3F3;
  border: 1px solid #c6c6c6; 
  padding: 1rem;
  border-radius: 10px;
  height: 350px;
  width: 500px;
  margin-bottom: 1rem;
}

.texto {
  width: 90%;
  font-size: 1.3rem;
  word-wrap: break-word;
  margin-top: 15px;
}

.button-login {
  margin-bottom: 3rem;
}

.welcome-text {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  padding: 0;
}

.welcome-text h1 {
  display: flex;
}

.logo-estagiei {
  margin-left: 0.5rem;
  width: 13rem;
  height: auto;
  align-self: center;
}

.button-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-company {
  width: 243px;
  height: 52px;
  border-radius: 5px;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

.logo-resumida {
  height: auto;
}