header {
  padding: 0.5rem 1rem;
  background-color: rgb(34, 34, 34);
  border-bottom: 1px solid #e0e0e0;
}

.header-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.welcome-text-header {
  color: #fff;
}

.translate-button {
  margin-right: 2px;
}

.user-image {
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}