header {
  padding: 0.5rem 1rem;
  background-color: #2B0046;
}

header.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.welcome-text-header {
  color: #fff;
}

.translate-button {
  margin-right: 2px;
}

.user-image {
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}