.main-row {
    align-items: "center";
    padding: 10px;
    color: black;
    font-size: 18px;
    text-shadow: 0.2px 0.2px 0.2px rgb(0, 0, 0);
}

.row-vagas {
    min-width: 100%;
}

.main-row h1 {
    color: black;
}

.search-row {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.search-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.search-sec-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}