.switch-div {
    transform: scale(1);
    border-radius: 50%;
    width: 12px;
    height: 40px;
    position: -webkit-sticky !important; /* Safari */
    position: fixed !important;
    left: 92%;
    top: 90vh;
    z-index: 1000;
    transition: top 1s linear;
}

.switch-div > div:first-child::before {
    display: none;
}

@media(max-width: 600px) {
    .switch-div {
        transform: scale(0.8);
        left: 85%;
        top: 93vh;
        width: 24px;
        height: 44px;
    }    
}