:global {
  body .ant-drawer-inline {
    position: fixed !important;
  }

  body .ant-drawer-right {
    position: fixed !important;
  }

  body .ant-drawer-mask {
    position: fixed !important;
  }
}