.container-foto {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.container-foto img {
  object-fit: cover;
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.container-dados {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}

.btnCancelar {
  color: #17202A;
  background-color: #FF876E;
  margin-right: 7px;
}

.btnCancelar:hover,
.btnCancelar:focus,
.btnCancelar:active {
  color: #17202A;
  background-color: #FF876E;
}

.btnSalvar {
  color: #17202A;
  background-color: #85C1E9;
}

.btnSalvar:hover,
.btnSalvar:focus,
.btnSalvar:active {
  color: #17202A;
  background-color: #85C1E9;
}