.btn-save {
  max-width: 50px;
}

.label {
  display: block;
  width: 100%;
  text-align: start;
}

.space-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8; 
}

.container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}