:global {
    body .ant-input-affix-wrapper {
      border: 1px solid #0000003f;
      padding: 0.5rem;
    }
  
    body .ant-input::placeholder {
      color: rgb(143, 143, 143);
    }
}

.btn-save {
  max-width: 50px;
}

.label {
  display: block;
  width: 100%;
  text-align: start;
}

.space-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 8; 
}

.container-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}