.container-vagas {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
  gap: 10px;
}

.content {
  flex-grow: 1;
}

.col-image {
  margin-right: 15px;
}

.container-vaga {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--container-color);
  text-align: left;
  border: 0.5px solid var(--primary-color);
  border-left: none;
  border-right: none;
  border-bottom: none;
  transition: ease 0.2s;
}

.vaga-titulo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.company-image {
  object-fit: cover;
  transition: ease 0.2s;
  border-radius: 5px;
}

.company-image:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 950px) {
  .col-image {
    display: none;
  }
}