.container-vagas {
  margin: 1rem;
  text-align: center;
}

.container-vaga {
  width: 800px;
  padding: 1.5rem;
  background-color: var(--container-color);
  text-align: left;
  margin-bottom: 2rem;
  border: 1px solid var(--primary-color);
  border-left: none;
  border-right: none;
  transition: ease 0.2s;
}

.container-vaga:hover {
  background-color: var(--container_hover_color);
}

.vaga-titulo {
  display: flex;
  justify-content: space-between;
}