:root {
  --primary-color: #D699EF;
  --container_hover_color: #e9e9e9;
  --container-color: white;
  --secondary-color: #2B0046;
}

.container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ant-drawer-mask div {
  position: absolute !important;
}

body .ant-tag {
  border-radius: 5px;
}

html {
  font-size: 75%;
}

*, html, body {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

li {
  list-style: none;
}

*, html, body, #root, input, button {
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body a:hover {
  color: var(--secondary-color);
}

label, textarea, input {
  width: 100%;
  display: block;
}

input {
  border-style: solid;
  border-width: 1px;
}

body button:hover {
  transform: scale(1.1);
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media(max-width: 768px) {
  html {
    font-size: 65%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  
}

@media (min-width: 1628px) {
  html {
    font-size: 100%;
  }
}
