.container-descricao-vaga {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  padding: 1rem;
}

.descricao-vaga {
  
  flex-direction: row;
  align-content: space-between;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;  
}

.dados-lista {
  
}

.company-image {
  object-fit: cover;
  transition: ease 0.2s;
  border-radius: 5px;
}

.company-image:hover {
  transform: scale(1.1);
}

.col-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.titulo-empresa {
  font-weight: 500;
  font-size: 2rem;
}

@media(max-width: 768px) {
  .cadastro {
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .info-dados {
    width: 100%;
  }
}